<div class="startPage">
    <h1>Synwords: The Game</h1>
    <form id="newGame">
      <label for="gameID">Game ID: </label>
      <input type="text" id="gameID" />
      <button id="startGame">Start Game</button>
    </form>
</div>