<div class="overview">
    <div class="currentRound">
        <h2>Red Teams Round</h2>
        <div id="turnEndButton" class="button_wrapper">
            <a href="#"><span>End Round</span></a>
        </div>
    </div>
    <div class="teams">
        <div class="blueT">
            <h2>Blue Team: </h2>
            <span class="teamMember explainer">Ragnar</span>
            <span class="teamMember">Lagartha</span>
            <span class="teamMember">Floki</span>
        </div>
        <div class="redT">
          <h2>Red Team: </h2>
          <span class="teamMember">Elliot</span>
          <span class="teamMember explainer">Mr Robot</span>
          <span class="teamMember">Darleen</span>
      </div>
    </div>
</div>