<!doctype html>
<html>
    <head>
        <%- include("../partials/head"); %>
    </head>
    <body>
        <%- include("../partials/cards",{game:game}); %>
        <%- include("../partials/team_overview"); %>
        <%- include("../partials/game_script"); %>
    </body>
</html>